DB_HOST=portal-db
DB_PORT=5432
DB_USER=portal_admin
DB_PASSWORD=CAMBIAR_AQUI
DB_NAME=portal_labs

PORTAINER_URL=http://portainer:9000
PORTAINER_TOKEN=CAMBIAR_AQUI
PORTAINER_ENDPOINT_ID=3

PORT=4000
NODE_ENV=production
SESSION_SECRET=CAMBIAR_AQUI
CORS_ORIGINS=http://localhost:8081
PUBLIC_HOST=localhost

ALLOWED_LAB_IMAGES=TUS_IMAGENES_PERMITIDAS_SEPARADAS_POR_COMAS
LAB_EXPOSED_PORTS_COUNT=CANTIDAD_DE_PUERTOS
LAB_BLOCKED_PORTS=PUERTOS_A_BLOQUEAR

AZURE_CLIENT_ID=CAMBIAR_AQUI
AZURE_TENANT_ID=CAMBIAR_AQUI
AZURE_CLIENT_SECRET=CAMBIAR_AQUI
AZURE_REDIRECT_URI=https://tu-dominio.com/auth/callback
